*.txt
*.hdf5
*.h5
*.iml
*.csv
*.jpg
*.h5
*.npz
*.hdf5
*.gz
*.xml
*.DS_Store
*.iml
*.log
*.png
*.pt
*.tsv
*.json


/config
/core.excludesFile
/gitRSA
/gitRSA.pub


ModelCheckpoints/
Preprocessing/
Submission/
DL3 Dataset/
Model_Output/
data/
final/
Graph/


DeepLearning-Playground/Twitter Sentiment Classification/.vector_cache/glove.6B.zip
DeepLearning-Playground/Twitter Sentiment Classification/.vector_cache/glove.twitter.27B.zip
